spring-debug-test/src/main/resources/tag/xsd/spring-dazhi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.dazhi.com/schema/dazhi/spring-dazhi"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.dazhi.com/schema/dazhi/spring-dazhi"
			elementFormDefault="qualified"
			attributeFormDefault="unqualified">

	<xsd:element name="da-zhi">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string"/>
			<xsd:attribute name="name" type="xsd:string"/>
			<xsd:attribute name="age" type="xsd:int"/>
			<xsd:attribute name="email" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>